In [ ]:
%%timeit
import math

In [ ]:
%%timeit 
my_list = [x**2 for x in range(5)]